div#navbar-top {
	display: none;
}

div#sidebar-wrapper > div.sidebar > div > h3::before {
	content: 'On this page';
	color: #2fa4e7;
}

div#sidebar-wrapper > div.sidebar > div > h3 > a {
	display: none;
}
