/* hide the bottom navbar */
div#navbar-related {
	display: none;
}

/* replace the subTOC heading */
div#sidebar-wrapper > div.sidebar > div > h3::before {
	content: 'On this Page';
	color: #2fa4e7;
}
div#sidebar-wrapper > div.sidebar > div > h3 > a {
	display: none;
}

/* make bibliography respect body width */
div.docutils {
	width: auto !important;
}

a[title="General Index"] {
	display: none !important;
}
